a {
  color: #5a5a5a;
}

p {
  font-size: 1em;
}

li {
      margin-bottom: .5rem;
}

.details ul {
  margin: 10px 0 0 20px;
  list-style-position: outside;
}

.center {
  text-align: center;
  margin: auto;
  display: block;
  margin: 10px 10px 18px 10px;
}

 .component-header {
     margin-top: 15px;
     padding-bottom: 0;
 }

 .heavy-emphasis {
  font-size: 2em;
 }

 .medium-emphasis {
  font-size: 1.9em;
  margin-bottom: 0;
 }

 .details {
     border-top: 1px solid #3498db;
     padding-top: 10px;
 }

.pres-details {
  margin: 0 10px 5px 0;
  font-style: italic;
}

 .details h3 {
  font-size: 1.6em;
  margin-bottom: 7px;
 }

 .contact {
     margin-top: 40px;
     position: relative;
 }

 .contact-details {
  padding: 0;
  margin: 0;
 }

 .component-header h4,
 .details h5 {
     margin-bottom: 4px; 
 }

 .accessibility{
  position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
 }

.more {
  margin-bottom: 10px;
  text-align: center;
}

 .footnotes {
  margin-top: 140px;
  font-style: italic;
 }

 .note {
  margin-top: 15px;
 }

 .edu {
  height: 80px;
 }

 #impact, #education {
  margin-top: 15px;
 }

 #footnotes {
  margin-top: 30px;
 }